name: Publish

on:
  workflow_run:
    workflows: ["Release"]
    types:
      - completed

jobs:
  publish:
    name: Publish (crates.io)
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable

      - name: cargo-release cache restore
        id: cargo_release_cache_restore
        uses: actions/cache/restore@v5
        with:
          path: ~/.cargo/bin/cargo-release
          key: ${{ runner.os }}-cargo-release

      - run: cargo install cargo-release
        if: steps.cargo_release_cache_restore.outputs.cache-hit != 'true'

      - name: cargo-release cache save
        id: cargo_release_cache_save
        uses: actions/cache/save@v5
        if: always() && steps.cargo_release_cache_restore.outputs.cache-hit != 'true'
        with:
          path: ~/.cargo/bin/cargo-release
          key: ${{ runner.os }}-cargo-release

      - name: cargo login
        run: echo "${{ secrets.CRATES_IO_TOKEN }}" | cargo login

      - name: "cargo release publish"
        run: |
          cargo release \
            publish \
            --workspace \
            --all-features \
            --allow-branch main \
            --no-confirm \
            --execute
